@model IEnumerable<CampusConnected.Models.Department>

@{
    ViewData["Title"] = "Department";
}

<h1>Department List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


@{
    if (TempData["insert_sucess"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Success!</strong> @TempData["insert_sucess"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    if (TempData["update_sucess"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Success!</strong> @TempData["update_sucess"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    if (TempData["delete_sucess"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Success!</strong> @TempData["delete_sucess"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}





<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faculty)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.DId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
