@model CampusConnected.Models.StudentCourse

@{
    ViewData["Title"] = "Create";
    var studentModel = ViewData["StudentModel"] as CampusConnected.Models.StudentCourse;
    var allCourse = ViewData["AllCourses"] as List<String>;
    var registeredCourse = ViewData["regCourse"] as List<String>;
}

<h1>Edit</h1>

<h4>StudentCourse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="createForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>



           @* <div class="form-group">
                <label asp-for="StudentId">Student ID</label>
                <select asp-for="StudentId" asp-items="@(new SelectList(studentModel.StudentList,"Id", "StudentName"))">
                    <option value="">-- Select Student --</option>
                </select>
            </div>*@

            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <input asp-for="StudentId" class="form-control" value="@studentModel.StudentId" readonly />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>

            <label>Select Course : </label>



            <div class="form-group">
                <label asp-for="CourseId">Course</label>
                <select asp-for="CourseId" asp-items="@(new SelectList(studentModel.CourseList,"CId", "CourseName"))">
                    <option value="">-- Select Course --</option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>
    </div>
    <div class="col-md-4">

        <table class="table">
            <thead>
                <tr>
                    <th>Available Course</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var courseName in allCourse)
                {
                    <tr>
                        <td>@courseName</td>
                    </tr>
                }
            </tbody>
        </table>


    </div>

    <div class="col-md-4">

        <table class="table">
            <thead>
                <tr>
                    <th>Registered Course</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var courseName in registeredCourse)
                {
                    <tr>
                        <td>@courseName</td>
                    </tr>
                }
            </tbody>
        </table>


    </div>


</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
